body
{
    min-width:1750px;
    position:relative;
}
.about-item-wrapper
{
    width:480px;
    height:848px;
    display:inline-block;
    background-color:beige;
    vertical-align: middle;
    box-sizing:border-box;
    margin: 30px 15px 0px;
    line-height: 1.5;
}

/*Vertical centering for content*/
.about-item
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
    position:relative; /*Forcing about-item-title to position itself relative to this element*/
}

.about-item-title
{
    text-align:center;
    position:absolute;
    bottom:5px;
    width:100%;
    font-size:2em;
    padding:5px 0px;
    text-transform:uppercase;
    letter-spacing:2.5px;
    color:rgba(255, 255, 255, 0.8);
}

#aboutDivMiltios .about-item-title
{
    background-image: radial-gradient(ellipse at center, #9b9cd09c 0%,#7db9e800 67%);
}

#aboutDivZasmi .about-item-title
{
    background-image: radial-gradient(ellipse at center, #250b05d9 0%,#7db9e800 67%);
}

#aboutDivThanks .about-item-title
{
    background-image: radial-gradient(ellipse at center, #021e3e 0%,#021e3e 10%,#7db9e800 80%);
}

.about-item-wrapper:hover .about-item-title
{
    opacity:0;
    transition:1s;
}

.about-mask
{
    width:480px;
    height:848px;
    background-color:#00050D;
    position: absolute;
    opacity:0;
    transition:0.5s;
}

.about-item-wrapper:hover .about-mask
{
    opacity:0.8;
    transition:1s;
}

.about-item .item-title,
.about-item .item-content
{
    display:block;
    margin:8px;
    padding: 0px 20px;
    opacity:0;
    transition:0.5s;
}

.about-item-content
{
    z-index:1;
    font-size:1.2em;
}

.about-item:hover .item-title,
.about-item:hover .item-content
{
    opacity:1;
    transition:1s;
}

#aboutDivMiltios
{
    background-image: url('../images/about/imageMiltios.png');
}

#aboutDivZasmi
{
    background-image: url('../images/about/imageZasmi.png');
}

#aboutDivThanks
{
    background-image: url('../images/about/imageThanks.png');
}

.about-item-wrapper a
{
    color:#fff;
    position:relative;
    text-decoration:none;
}

.about-item-wrapper a:hover:before
{
    visibility:visible;
    transform:scaleX(1);
}

.about-item-wrapper a:before
{
    content:"";
    position:absolute;
    width:100%;
    height:1px;
    bottom:0;
    left:0;
    background-color:white;
    visibility:hidden;
    transform:scaleX(0);
    transition:all 0.3s ease-in-out 0s;
}