.about-item-wrapper
{
    width:480px;
    height:848px;
    display:inline-block;
    background-color:beige;
    vertical-align: middle;
    box-sizing:border-box;
    margin: 60px 15px 0px;
    line-height: 1.5;
}

/*Vertical centering for content*/
.about-item
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
}

.about-item .item-title,
.about-item .item-content
{
    display:block;
    margin:8px;
    padding: 0px 20px;
    opacity:0;
}

.about-item:hover .item-title,
.about-item:hover .item-content
{
    opacity:1;
    transition:0.5s;
}

#aboutDivMiltios
{
    background-image: url('../images/about/imageMiltios.png');
}

#aboutDivZasmi
{
    background-image: url('../images/about/imageZasmi.png');
}

#aboutDivThanks
{
    background-image: url('../images/about/imageThanks.png');
}

