/*Reset table styles across browsers*/
table
{
    margin:0;
    padding:0;
    background:none;
    border:none;
    border-collapse:collapse;
    border-spacing:0;
    background-image:none;
    font-size:16px;
}

/*fonts*/
@font-face {
    font-family: "Eurostile";
    src: url("../fonts/Eurostile.woff") format('woff');
}

body
{
    text-align:center; /*TODO:HACK: quick fix for centering until we decide on a page layout*/
    background-color:#00050D;
    color:#96D6F1;
    font-family:Eurostile,Helvetica,Arial,sans-serif;
    font-weight:bold;
    font-size:14px;
    letter-spacing:0.75px;
}

#siteNavWrapper
{
    width:304px;
    margin:0 auto;
    padding:17px 0 25px;
    background-image:url('../images/frames/frame_menu.png');
    background-repeat:no-repeat;
}
.site-nav-item
{
    display:inline-block;
    width:75px;

    color:#FFC800;
    letter-spacing:1.5px;
    text-decoration:none;
    transition:0.3s;
}
.site-nav-item:hover
{
    color:#b19c4f;
    transition:0.3s;
}

.strikethrough
{
    text-decoration:line-through;
}

.footer {
  margin-top:70px;
  margin-bottom:10px;
  width: 100%;
  text-align: center;
  letter-spacing:1.25;
  line-height:1.5;
  font-size:0.9em;
}